.pagination {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 5px; 
    cursor: pointer;
  }
  
  .pagination li.active {
    font-weight: bold;
    pointer-events: none; 
  }
  .search-container {
    position: relative;
  }
  
  .search {
    padding-right: 30px; 
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
  }